<h3>
	Spells
	<%= link_to raw('<i class="fa fa-plus"></i>'), new_player_spell_path(@player), data: { toggle: :modal, target: '#defaultModal' } %>
</h3>
<div id="levels" class="row">

	<div class="hidden-xs">
		<div class="row">
			<% @player.player_spells.group_by(&:level).each do |level| %>
			<%= render 'player_spells/levels/level', level: level %>
			<% end %>
		</div>
	</div>

	<div class="vidible-xs-block">
		<%= render 'player_spells/levels/carousel' %>
	</div>

</div>
