<% @attrib_keys.each do |k| %>
<p>
	<%= content_tag :strong, k.titleize+':' if @spell.send(k).present? %>
	<%= raw @spell.send(k) if @spell.send(k).present? %>
</p>
<% end %>

<p>
	<%= link_to 'Edit', edit_spell_path(@spell) %>
</p>
