<tr class="text-center">
	<td class="text-muted text-left">
		<i class="fa fa-fw fa-arrows-v"></i>
	</td>
	<td>
		<%= link_to item.name, edit_player_item_path(@player, item), data: { toggle: :modal, target: '#defaultModal' } %>
	</td>
	<td>
		<%= item.quantity %>
	</td>
	<td class="text-right">
		<%= link_to raw('<i class="fa fa-fw fa-remove text-warning"></i>'), [@player, item], method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
</tr>
