<header class="panel-heading">
	<h4 class="panel-title text-center">Skills</h4>
</header>
<table class="table table-striped table-condensed">
	<tbody class="small">
		<%= render partial: 'players/skills/skill', collection: SKILLS, as: :skill %>
	</tbody>
</table>
