// Place all the styles related to the spells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#levels {
	.level {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid; /* IE 10+ */
	}

	@media (min-width: 768px) {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
	@media (min-width: 992px) {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}
}

// carousel
#carousel-spell-levels {

	margin: 20px;


	.carousel-indicators {

		position: relative;
		margin: 0 auto -20px;
		left:inherit;

		@media (min-width: 768px) { display: none; }
		top: -25px;

		li {
			border: 1px solid #000;
			width: 1em;
			height: 1em;
			&.active {
				background: #158cba;
			}
		}

	}

}
